[submodule "source/circinus_sim"]
	path = source/circinus_sim
	url = git@github.com:apollokit/circinus_sim.git 
    branch = master
[submodule "source/circinus_orbit_propagation"]
	path = source/circinus_orbit_propagation
	url = git@github.com:apollokit/circinus_orbit_propagation.git 
	branch = master
[submodule "source/circinus_orbit_viz"]
	path = source/circinus_orbit_viz
	url = git@github.com:apollokit/circinus_orbit_viz.git
	branch = master
	branch = master
[submodule "source/circinus_global_planner"]
	path = source/circinus_global_planner
	url = git@github.com:apollokit/circinus_global_planner.git
	branch = master
