# If problems installing any of the below and you run into an error like "There was a problem confirming the ssl certificate: [SSL: TLSV1_ALERT_PROTOCOL_VERSION]", try this fix from stackoverflow https://stackoverflow.com/a/49769015/4292910
jdcal==1.3
Pyomo==5.3
numpy==1.14.0
matplotlib==2.1.2
scipy==1.0.1
ipdb==0.11

# also need "matlab". See: http://www.mathworks.com/help/matlab/matlab_external/install-the-matlab-engine-for-python.html?refresh=true